<div class="container">

    <h1>Shopping Cart</h1>

    <div class="reservations">
        <img *ngIf="reservations.length <= 0" class="sad" width="250px" src="assets/icons/sad.svg" alt="search">
        <ng-container *ngIf="reservations">
            <ng-container *ngFor="let item of reservations">
                <cart-card [item]="item"></cart-card>
            </ng-container>
        </ng-container>
    </div>


    <button [disabled]="reservations.length <= 0" routerLink="/checkout" class="checkout-button">Checkout</button>

</div>