<div class="container">

    <h1><strong>Shopping Cart</strong></h1>

    <div class="reservations">
        <img *ngIf="reservations.length <= 0" class="sad" width="250px" src="assets/icons/sad.svg" alt="search">
        <ng-container *ngIf="reservations">
            <ng-container *ngFor="let item of reservations">
                <cart-card [item]="item"></cart-card>
            </ng-container>
        </ng-container>
    </div>

    <span class="totalPrice left">{{totalPrice}} <strong>Euro</strong></span> 
    <button [disabled]="reservations.length <= 0" (click)="goToCheckout()" class="checkout-button">Checkout</button>

</div>