<div class="trip-card">
    <div class="line-number">
        <badge [label]="item.busNum"></badge>
    </div>
    <div class="line-description">
        <div class="line-contain">
            <div class="start">
                <strong>Depart</strong> | 
                <span class="city"> {{item.startCity}}</span>
                <span class="station"> - {{item.startStation}}</span>
            </div>
            <div class="end">
                <strong>Arrivée</strong> | 
                <span class="city"> {{item.endCity}}</span>
                <span class="station"> - {{item.endStation}}</span>
            </div>
        </div>
        <div class="">
            <div class="line-price">
                <strong>Prix</strong> | 
                <span class="price"> {{item.price}} <small>Euro</small></span>
            </div>
            <div class="line-time">
                <strong>Heure de Depar</strong> | 
                <span class="startTime"> {{item.startTime}}</span>
            </div>
        </div>
    </div>
    <div class="line-card">
        <img (click)="confirmAddToCart()" class="search-icon" width="25px" src="assets/icons/add-to-cart.svg" alt="search">
    </div>
</div>