<div class=content>
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Merci !</h1>
        <br><br>
        <p>Merci pour votre réservation.  </p>
        <p>Vous devriez recevoir bientôt un email de confirmation  </p>
        <button class="go-home" routerLink="/reservations">
        Mes Billets
        </button>
      </div>
      <div class="footer-like">
        <p>Email non reçu ?
         <a href="#">Cliquez ici pour le renvoyer</a>
        </p>
      </div>
  </div>
  </div>