<div class="trip-card">
    <div class="line-number">
        <badge [label]="item.busNum"></badge>
    </div>
    <div class="line-description">
        <div class="start">
            <span class="city"> {{item.startCity}}</span>
            <span class="station"> - {{item.startStation}} - </span>
        </div>
        <div class="end">
            <span class="city"> {{item.endCity}}</span>
            <span class="station"> - {{item.endStation}}</span>
        </div>
    </div>
    <div class="line-price">
        <span class="price"> {{item.price}}</span>
    </div>
</div>