<main>
	<section class="cart">
		<div class="cart-item">
			<img src="https://cdn.shopify.com/s/files/1/0814/1617/products/IMG_0716_1024x1024.png" class="image">
			<p class="title">Lorem ipsum dolor <span>2.5cm &times; 2.8cm</span></p>
			<p class="currency">CHF</p>
			<p class="price">4.25</p>
		</div>
		<div class="cart-item">
			<img src="https://cdn.shopify.com/s/files/1/0814/1617/products/IMG_2760_1024x1024.png" class="image">
			<p class="title">Sit amet <span>2.4cm &times; 2.8cm</span></p>
			<p class="currency">CHF</p>
			<p class="price">4.25</p>
		</div>
		<div class="cart-item">
			<img src="https://cdn.shopify.com/s/files/1/0814/1617/products/IMG_2766_1024x1024.png" class="image">
			<p class="title">Consectetur adipiscing elit <span>2.7cm &times; 2.3cm</span></p>
			<p class="currency">CHF</p>
			<p class="price">5.60</p>
		</div>
		<div class="shipping">
			<p class="title">Shipping</p>
			<p class="currency">CHF</p>
			<p class="price">2.70</p>
		</div>
		<div class="total">
			<p class="title">Total</p>
			<p class="currency">CHF</p>
			<p class="price">16.80</p>
		</div>
	</section>
	<section class="checkout">
		<header>
			<h1>Checkout</h1>
			<p>by Credit Card</p>
		</header>
		<form action="post">
			<div class="input-group">
				<div class="label">
					<label for="name">Full Name</label>
				</div>
				<div class="input">
					<input type="text" id="name" placeholder="Jane Doe" required>
				</div>
			</div>
			<div class="input-group">
				<div class="label">
					<label for="number">Card Number</label>
				</div>
				<div class="input number">
					<input type="number" min="1000" max="9999" id="number" placeholder="0000" required><span>&ndash;</span><input type="number" min="1000" max="9999" placeholder="0000" required><span>&ndash;</span><input type="number" min="1000" max="9999" placeholder="0000" required><span>&ndash;</span><input type="number" min="1000" max="9999" placeholder="0000" required>
				</div>
			</div>
			<div class="input-group">
				<div class="label">
					<label for="cvc">Security Code</label>
				</div>
				<div class="input">
					<input type="number" id="cvc" placeholder="000" min="001" max="999" step="1" required>
				</div>
			</div>
			<div class="input-group">
				<div class="label">
					<label for="expire-month">Expiry</label>
				</div>
				<div class="input">
					<input type="month" id="expire-month" required>
				</div>
				<button>Charge Credit Card</button>
			</div>
		</form>
	</section>
</main>


<ngx-paypal [config]="payPalConfig"></ngx-paypal>