<main>
	<div class="reservations">
        <img *ngIf="reservations.length <= 0" class="sad" width="250px" src="assets/icons/sad.svg" alt="search">
        <ng-container *ngIf="reservations">
            <ng-container *ngFor="let item of reservations">
                <cart-card [hideButtons]="true" [item]="item"></cart-card>
            </ng-container>
        </ng-container>
    </div>
	<section class="checkout">
		<header>
			<h1>Checkout <span class="totalPrice left">{{totalPrice}} <strong>Euro</strong></span></h1>
		</header>
		<ul class="radio-switch ">
			<li class="radio-switch__item">
			  <input (click)="selectPayementMethod('Card')" class="radio-switch__input ri5-sr-only" type="radio" name="radio-switch-name" id="radio-1" value="" checked>
			  <label class="radio-switch__label" for="radio-1">Carte</label>
			</li>
		  
			<li class="radio-switch__item">
			  <input (click)="selectPayementMethod('Paypal')" class="radio-switch__input ri5-sr-only" type="radio" name="radio-switch-name" id="radio-2" value="">
			  <label class="radio-switch__label" for="radio-2">Paypal</label>
			  <div aria-hidden="true" class="radio-switch__marker"></div>
			</li>
		  </ul>
		<form *ngIf="!paypalSelected">
			<div class="input-group">
				<div class="label">
					<label for="name">Full Name</label>
				</div>
				<div class="input">
					<input type="text" id="name" placeholder="Jane Doe" required>
				</div>
			</div>
			<div class="input-group">
				<div class="label">
					<label for="number">Card Number</label>
				</div>
				<div class="input number">
					<input type="number" min="1000" max="9999" id="number" placeholder="0000" required><span>&ndash;</span><input type="number" min="1000" max="9999" placeholder="0000" required><span>&ndash;</span><input type="number" min="1000" max="9999" placeholder="0000" required><span>&ndash;</span><input type="number" min="1000" max="9999" placeholder="0000" required>
				</div>
			</div>
			<div class="input-group">
				<div class="label">
					<label for="cvc">Security Code</label>
				</div>
				<div class="input">
					<input type="number" id="cvc" placeholder="000" min="001" max="999" step="1" required>
				</div>
			</div>
			<div class="input-group">
				<div class="label">
					<label for="expire-month">Expiry</label>
				</div>
				<div class="input">
					<input type="month" id="expire-month" required>
				</div>
				<button (click)="createTicket()">Payer</button>
			</div>
		</form>
		<div class="paypal-container container" *ngIf="paypalSelected">
			<ngx-paypal [config]="payPalConfig"></ngx-paypal>
		</div>
		
	</section>
</main>


